<div>
    <h2 id="page-heading">
        <span jhiTranslate="betmanageApp.socialMedia.home.title">Social Medias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-social-media" [routerLink]="['/social-media/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="betmanageApp.socialMedia.home.createLabel">
            Create a new Social Media
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'betmanageApp.socialMedia.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="socialMedias?.length === 0">
        <span jhiTranslate="betmanageApp.socialMedia.home.notFound">No socialMedias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="socialMedias && socialMedias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.socialMedia.tag">Tag</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.socialMedia.platform">Platform</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.socialMedia.team">Team</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let socialMedia of socialMedias ;trackBy: trackId">
                    <td><a [routerLink]="['/social-media', socialMedia.id, 'view']">{{ socialMedia.id }}</a></td>
                    <td>{{ socialMedia.tag }}</td>
                    <td jhiTranslate="{{ 'betmanageApp.PlatformEnum.' + socialMedia.platform }}">{{ socialMedia.platform }}</td>
                    <td>
                        <div *ngIf="socialMedia.team">
                            <a [routerLink]="['/team', socialMedia.team?.id, 'view']" >{{ socialMedia.team?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/social-media', socialMedia.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/social-media', socialMedia.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(socialMedia)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
