<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-team-social-heading" jhiTranslate="betmanageApp.teamSocial.home.createOrEditLabel">Create or edit a Team Social</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="betmanageApp.teamSocial.homeTeamId" for="field_homeTeamId">Home Team Id</label>
                    <input type="number" class="form-control" name="homeTeamId" id="field_homeTeamId"
                           formControlName="homeTeamId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="betmanageApp.teamSocial.visitorTeamId" for="field_visitorTeamId">Visitor Team Id</label>
                    <input type="number" class="form-control" name="visitorTeamId" id="field_visitorTeamId"
                           formControlName="visitorTeamId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="betmanageApp.teamSocial.match" for="field_match">Match</label>
                    <input type="text" class="form-control" name="match" id="field_match"
                           formControlName="match"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="betmanageApp.teamSocial.matchPreview" for="field_matchPreview">Match Preview</label>
                    <select class="form-control" id="field_matchPreview" name="matchPreview" formControlName="matchPreview">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="matchPreviewOption.id === editForm.get('matchPreview')!.value?.id ? editForm.get('matchPreview')!.value : matchPreviewOption" *ngFor="let matchPreviewOption of matchpreviews; trackBy: trackById">{{ matchPreviewOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
