<div class="row justify-content-center">
    <div class="col-8">   
        <form name="loadForm" role="form" (ngSubmit)="loadByTeam()" [formGroup]="loadForm">
            <h2 id="jhi-match-preview-heading" jhiTranslate="betmanageApp.matchPreview.home.loadLabel">Load Match Preview By Team</h2>

           <div>               

                 <div class="form-group">
                    <label class="form-control-label" jhiTranslate="betmanageApp.team.home.title" for="field_teamId">Teams</label>
                    <input type="text" class="form-control" name="teamId" id="field_teamId"
                           formControlName="teamId"/>
                </div>       
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

				  <button type="submit" id="load-entity"  class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.load">Load</span>
                </button>
			</div>
        </form>
    </div>
</div>
