<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="matchPreview">
            <h2><span jhiTranslate="betmanageApp.matchPreview.detail.title">Match Preview</span> {{ matchPreview.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="betmanageApp.matchPreview.blurbFull">Blurb Full</span></dt>
                <dd>
                    <span>{{ matchPreview.blurbFull }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.fixtureId">Fixture Id</span></dt>
                <dd>
                    <span>{{ matchPreview.fixtureId }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.hometeamId">Hometeam Id</span></dt>
                <dd>
                    <span>{{ matchPreview.hometeamId }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.visitorteamId">Visitorteam Id</span></dt>
                <dd>
                    <span>{{ matchPreview.visitorteamId }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.hometeamName">Hometeam Name</span></dt>
                <dd>
                    <span>{{ matchPreview.hometeamName }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.visitorteamName">Visitorteam Name</span></dt>
                <dd>
                    <span>{{ matchPreview.visitorteamName }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.leagueId">League Id</span></dt>
                <dd>
                    <span>{{ matchPreview.leagueId }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.league">League</span></dt>
                <dd>
                    <span>{{ matchPreview.league }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.fixtureImg">Fixture Img</span></dt>
                <dd>
                    <div *ngIf="matchPreview.fixtureImg">
                        <a (click)="openFile(matchPreview.fixtureImgContentType, matchPreview.fixtureImg)">
                            <img [src]="'data:' + matchPreview.fixtureImgContentType + ';base64,' + matchPreview.fixtureImg" style="max-width: 100%;" alt="matchPreview image"/>
                        </a>
                        {{ matchPreview.fixtureImgContentType }}, {{ byteSize(matchPreview.fixtureImg) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.formationImg">Formation Img</span></dt>
                <dd>
                    <div *ngIf="matchPreview.formationImg">
                        <a (click)="openFile(matchPreview.formationImgContentType, matchPreview.formationImg)">
                            <img [src]="'data:' + matchPreview.formationImgContentType + ';base64,' + matchPreview.formationImg" style="max-width: 100%;" alt="matchPreview image"/>
                        </a>
                        {{ matchPreview.formationImgContentType }}, {{ byteSize(matchPreview.formationImg) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.startUtcTimestamp">Start Utc Timestamp</span></dt>
                <dd>
                    <span>{{ matchPreview.startUtcTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.venueName">Venue Name</span></dt>
                <dd>
                    <span>{{ matchPreview.venueName }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.venueCity">Venue City</span></dt>
                <dd>
                    <span>{{ matchPreview.venueCity }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.matchImg">Match Img</span></dt>
                <dd>
                    <div *ngIf="matchPreview.matchImg">
                        <a (click)="openFile(matchPreview.matchImgContentType, matchPreview.matchImg)">
                            <img [src]="'data:' + matchPreview.matchImgContentType + ';base64,' + matchPreview.matchImg" style="max-width: 100%;" alt="matchPreview image"/>
                        </a>
                        {{ matchPreview.matchImgContentType }}, {{ byteSize(matchPreview.matchImg) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.matchImaTxt">Match Ima Txt</span></dt>
                <dd>
                    <span>{{ matchPreview.matchImaTxt }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.headline">Headline</span></dt>
                <dd>
                    <span>{{ matchPreview.headline }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.date">Date</span></dt>
                <dd>
                    <span>{{ matchPreview.date }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'betmanageApp.LanguageEnum.' + matchPreview.language }}">{{ matchPreview.language }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.homeTeam">Home Team</span></dt>
                <dd>
                    <div *ngIf="matchPreview.homeTeam">
                        <a [routerLink]="['/team', matchPreview.homeTeam?.id, 'view']">{{ matchPreview.homeTeam?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.visitorTeam">Visitor Team</span></dt>
                <dd>
                    <div *ngIf="matchPreview.visitorTeam">
                        <a [routerLink]="['/team', matchPreview.visitorTeam?.id, 'view']">{{ matchPreview.visitorTeam?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.team">Team</span></dt>
                <dd>
                    <span *ngFor="let team of matchPreview.teams; let last = last">
                        <a [routerLink]="['/team', team?.id, 'view']">{{ team.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.competition">Competition</span></dt>
                <dd>
                    <div *ngIf="matchPreview.competition">
                        <a [routerLink]="['/competition', matchPreview.competition?.id, 'view']">{{ matchPreview.competition?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="betmanageApp.matchPreview.country">Country</span></dt>
                <dd>
                    <div *ngIf="matchPreview.country">
                        <a [routerLink]="['/country', matchPreview.country?.id, 'view']">{{ matchPreview.country?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match-preview', matchPreview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
