<div>
    <h2 id="page-heading">
        <span jhiTranslate="betmanageApp.parts.home.title">Parts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parts" [routerLink]="['/parts/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="betmanageApp.parts.home.createLabel">
            Create a new Parts
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'betmanageApp.parts.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="parts?.length === 0">
        <span jhiTranslate="betmanageApp.parts.home.notFound">No parts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="parts && parts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.intro">Intro</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.weather">Weather</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.homeLastResult">Home Last Result</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.visitorLastResult">Visitor Last Result</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.homeScorers">Home Scorers</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.visitorScorers">Visitor Scorers</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.lastMeetingResult">Last Meeting Result</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.lastMeetingScoring">Last Meeting Scoring</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.homeSidelined">Home Sidelined</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.visitorSidelined">Visitor Sidelined</span></th>
                    <th scope="col" ><span jhiTranslate="betmanageApp.parts.parts">Parts</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parts of parts ;trackBy: trackId">
                    <td><a [routerLink]="['/parts', parts.id, 'view']">{{ parts.id }}</a></td>
                    <td>{{ parts.intro }}</td>
                    <td>{{ parts.weather }}</td>
                    <td>{{ parts.homeLastResult }}</td>
                    <td>{{ parts.visitorLastResult }}</td>
                    <td>{{ parts.homeScorers }}</td>
                    <td>{{ parts.visitorScorers }}</td>
                    <td>{{ parts.lastMeetingResult }}</td>
                    <td>{{ parts.lastMeetingScoring }}</td>
                    <td>{{ parts.homeSidelined }}</td>
                    <td>{{ parts.visitorSidelined }}</td>
                    <td>
                        <div *ngIf="parts.parts">
                            <a [routerLink]="['/match-preview', parts.parts?.id, 'view']" >{{ parts.parts?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/parts', parts.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/parts', parts.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(parts)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
