<div>
    <h2 id="page-heading">
        <span jhiTranslate="betmanageApp.team.home.title">Teams</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-team" [routerLink]="['/team/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="betmanageApp.team.home.createLabel">
            Create a new Team
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'betmanageApp.team.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="teams?.length === 0">
        <span jhiTranslate="betmanageApp.team.home.notFound">No teams found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teams && teams.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teamName"><span jhiTranslate="betmanageApp.team.teamName">Team Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shortCode"><span jhiTranslate="betmanageApp.team.shortCode">Short Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isNationalTeam"><span jhiTranslate="betmanageApp.team.isNationalTeam">Is National Team</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teamLogo"><span jhiTranslate="betmanageApp.team.teamLogo">Team Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teamId"><span jhiTranslate="betmanageApp.team.teamId">Team Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country.id"><span jhiTranslate="betmanageApp.team.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="competition.id"><span jhiTranslate="betmanageApp.team.competition">Competition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let team of teams ;trackBy: trackId">
                    <td><a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a></td>
                    <td>{{ team.teamName }}</td>
                    <td>{{ team.shortCode }}</td>
                    <td>{{ team.isNationalTeam }}</td>
                    <td>
                        <a *ngIf="team.teamLogo" (click)="openFile(team.teamLogoContentType, team.teamLogo)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="team.teamLogo">{{ team.teamLogoContentType }}, {{ byteSize(team.teamLogo) }}</span>
                    </td>
                    <td>{{ team.teamId }}</td>
                    <td>
                        <div *ngIf="team.country">
                            <a [routerLink]="['/country', team.country?.id, 'view']" >{{ team.country?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="team.competition">
                            <a [routerLink]="['/competition', team.competition?.id, 'view']" >{{ team.competition?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/team', team.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/team', team.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(team)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
