<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="title">
            <h2><span jhiTranslate="betmanageApp.title.detail.title">Title</span> {{ title.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="betmanageApp.title.titleText">Title Text</span></dt>
                <dd>
                    <span>{{ title.titleText }}</span>
                </dd>
                <dt><span jhiTranslate="betmanageApp.title.quickItems">Quick Items</span></dt>
                <dd>
                    <div *ngIf="title.quickItems">
                        <a [routerLink]="['/match-preview', title.quickItems?.id, 'view']">{{ title.quickItems?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/title', title.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
